@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Lemonada:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'NomDeLaPolice';
    src: url('../font/ArabillaSignature-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --brown: #a65925;
    --main-bg: #F7F4F0;
	--brown-bg: #79645B;
	--main-beige: #E5CBB2;
	--text-gray: #707070;
}
body{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    background-color: var(--main-bg);
	font-size: 15px;
}
.wrapper{
	max-width: 500px;
	margin: auto;
	padding: 20px;
}
.arabic {
    font-family: 'Lemonada', cursive;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
section {
	position: relative;
	margin-top: 100px;
}
.main-btn{
	padding: .5rem 1.5rem;
	border-radius: 50px;
	background-color: var(--main-beige);
	width: fit-content;
	font: normal normal 600 20px/27px 'Cinzel';
	letter-spacing: 0.8px;
}
.bold{
	font-weight: bold;
}
.section-title{
	font-size: 15px;
	text-align: center;
	margin: 25px auto;
}
.text-white{
	color: white;
}
.section-pastille{
	height: 110px;
	border-radius: 50px;
	width: 100%;
	background: center/cover no-repeat;
	margin-top: -80px;
}
.section-border{
	background-color: transparent;
	width: 100%;
	top: 0;
	left: 0;
	margin-top: -50px;
	object-fit: cover;
	position: absolute;
	z-index: -1;
	object-position: top;
}

/* -------------- Header -------------- */
.header-title {
	line-height: 0.6;
}
.header-title h2{
	font-family: 'NomDeLaPolice', serif;
	font-size: 50px;
	font-weight: 400;
}
.header-title h1{
	font-weight: 400;
	font-size: 45px;
}
.main-header {
	text-align: center;
	margin-top: 60px;
}
.main-header .header-title{
	font-size: 20px;
	color: var(--text-gray);
}
.main-picture{
	margin: 40px auto;
}

/* -------------- Theme -------------- */
#theme {
	margin: 0;
	text-align: center;
}
#theme .colors{
	display: flex;
	justify-content: space-around;
	margin: 20px auto;
}
/* -------------- Precense -------------- */
#planning {
	background-color: var(--main-beige);
}
#planning .section-pastille{
	background-image: url("../img/pexels-amar-preciado-12954017.jpg");
}
#planning .event{
	display: flex;
	gap: 10px;
	justify-content: center;
}
#planning .event .description{
	width: 150px;
}
/* -------------- Precense -------------- */
#presence{
	background: var(--brown-bg);
}
#presence .section-pastille{
	background-image: url("../img/pexels-amar-preciado-12954016.jpg");
}
#presence form{
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 15px;
}
.form-prencese{
	display: flex;
	justify-content: space-around;
}
.diet-select{
	display: flex;
	justify-content: space-around;
}
.diet-select select{
	border-radius: 10px;
}
.diet-select select option{
	width: 100%;
}
.diet-select > * {
	flex: 1;
}
.form-textarea {
	display: flex;
	flex-direction: column;
}
.form-textarea textarea{
	text-align: left;
	resize: none;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;

}
#presence .main-btn{margin: auto}

/* -------------- loader -------------- */

.loader-wrapper{
	display: inline-block;
	height: 100vh;
	width: 100vw;
	position: absolute;
    top: 0;
    left: 0;
	transition: all .2s ease;
}

.loader{
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 80px;
	border: 3px solid  var(--main-beige);

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);

	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-animation: loader 3s linear infinite;
			animation: loader 3s linear infinite;
}

.loader:after{
	content: "";
	position: absolute;
	top: -5px;
	left: 20px;
	width: 11px;
	height: 11px;
	border-radius: 10px;
	background-color: var(--main-beige);
}

@-webkit-keyframes loader{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}